
<h1>Login</h1>

<form action="" method="">

  <label for="email">Email:</label>
  <input type="text" name="email">

  <label for="password">Contraseña:</label>
  <input type="text" name="password">

  <button>Acceder</button>

</form>